body {
  margin: 0;
  padding: 0;

  font-family: "Roboto", Tahoma, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #283136;

  background-color: #ffffff;
}

* {
  /* outline: 1px solid green; */
}

a {
  text-decoration: none;
}

.button {
  font: inherit;

  text-align: center;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;

  background-color: #fb565a;
  border: none;
}

.button:hover,
.button:focus {
  background-color: #e74246;
}

.button:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #d7373b;
}

.container {
  margin: auto;
  padding-right: 20px;
  padding-left: 20px;
  width: 1160px;
}

.main-header h1 {
  font-size: 55px;
  line-height: 66px;
  font-weight: 500;
  color: #000000;

  text-align: center;
}

.main-navigation {
  line-height: 30px;
  font-weight: 500;
  color: #000000;
  text-transform: uppercase;
}

.site-navigation,
.user-navigation {
  list-style: none;
}

.site-navigation a,
.user-navigation a {
  color: #000000;
}

.site-navigation a:hover,
.site-navigation a:focus,
.user-navigation a:hover,
.user-navigation a:focus {
  color: #fb565a;
}

.site-navigation a:active,
.user-navigation a:active {
  color: rgba(0, 0, 0, 0.3);
}

.slider-indicator {
  list-style: none;
}

.advantages-list {
  list-style: none;
}

.advantages-list h3 {
  font-weight: 700;
  line-height: 30px;
  color: #000000;
  text-transform: uppercase;
}

.advantages-list p {
  text-align: left;
}

.footer-social ul {
  list-style: none;
}


.main-header {
  display: flex;
  flex-direction: column;
  margin-bottom: 80px;

  background-color: #eeeeee;
}

.main-navigation {
  display: flex;
}

.main-header-logo {
  margin-right: 200px;
  width: 160px;
  height: 65px;
}

.site-navigation {
  display: flex;
  margin: 0;
  padding: 0;
  width: 600px;
}

.user-navigation {
  margin: 0;
  margin-left: auto;
  padding: 0;
  width: 160px;

  text-align: right;
}

.advantages {
  margin-bottom: 80px;
}

.advantages-list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.advantages-list li {
  width: 300px;
}

.about-us {
  display: flex;
  justify-content: space-between;
  padding-bottom: 75px;
}

.about-us-features {
  width: 660px;
}

.features-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.about-us-features-extra {
  width: 360px;
}

.portfolio {
  margin-bottom: 80px;
  padding-top: 46px;
  padding-bottom: 44px;
}

.portfolio-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0;

  list-style: none;
}

.portfolio-list li {
  width: 260px;
}

.contacts {
  margin: auto;
  width: 1440px;
}

.contacts-address {
  margin-left: 140px;
  width: 320px;
}

.main-footer {
  display: flex;
  padding-top: 70px;
  padding-bottom: 70px;
}

.footer-social {
  margin-right: 140px;
}

.footer-social ul {
  display: flex;
  margin: 0;
  padding: 0;
}

.modal {
  width: 760px;
  margin: auto;
  padding-right: 100px;
  padding-left: 100px;
}


/*===catalog=================*/


.catalog-page {
  display: flex;
  flex-wrap: wrap;
}

.filter {
  margin-right: 140px;
  width: 260px;
}

.catalog-sort-wrap {
  display: flex;
  flex-direction: column;
  width: 760px;
}

.filter-sort {
  display: flex;
}

.filter-sort ul {
  display: flex;
}


.filter ul,
.filter-sort ul {
  list-style: none;
}

.filter legend {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}

.filter label {
  color: #283136;
  line-height: 20px;
}

.filter input:hover + label,
.filter input:focus + label {
  color: #000000;
}

.filter input:disabled + label {
  color: rgba(40, 49, 54, 0.3);
}

.filter-sort a {
  font-size: 14px;
  line-height: 18px;
  color: rgba(0, 0, 0, 0.3);
  text-transform: uppercase;
}

.filter-sort a:hover {
  color: rgba(0, 0, 0, 0.6);
}

.filter-sort a:active {
  color: rgba(0, 0, 0, 1);
}

.catalog-item {
  display: inline-block;
  vertical-align: top;
  margin-right: 40px;
  width: 360px;
}

.catalog-item:nth-child(odd) {
  margin-right: 0;
}

.hover-block {
  background-color: #eeeeee;
}

.hover-block span {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}

.hover-block p {
  line-height: 18px;
  color: #666666;
}

.pagination {
  margin-top: 60px;
  margin-bottom: 60px;
}

.pagination-list {
  display: flex;
  justify-content: flex-start;
  margin: 0;
  padding: 0;

  list-style: none;
}

.pagination-list a {
  line-height: 18px;
  font-weight: 500;
  color: #000000;
  text-transform: uppercase;
}

.pagination-list a:active {
  color: rgba(0, 0, 0, 0.3);
}

.modal h2 {
  font-size: 45px;
  line-height: 54px;
  font-weight: 500;
  color: #000000;
}

.modal input,
.modal textarea {
  font: inherit;

  line-height: 18px;
  color: #444444;

  border: 2px solid #d7dcde;
}

.modal input:hover,
.modal textarea:hover {
  border-color: #b4b9bb;
}

.modal input:focus,
.modal textarea:focus {
  outline: none;
  border-color: #000000;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
